#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.node {
  border: solid white 1px;
  margin-left: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  
}

.matchesDiv {
  border: solid white 1px;
}

.messageTxt {
  color: aqua;
}